{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 ">
        <form method="post" action="." id="form-change-pass">
		<h2>修改密码</h2>
	<br>
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans '修改密码' %}" class="form-control btn-info btn">
		</div>
	</form>
    </div>
</div>

{% endblock %}
