{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 ">
        <form method="post" action="." class="form-reset ">
		<h2>密码重设</h2>
	<br>
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans '邮件重置密码' %}" class="btn-info btn form-control">
		</div>
	</form>
    </div>
</div>

{% endblock %}
