{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 ">
        <form method="post" action="." class="form-reset-confirm">
			<h2>设置新密码</h2>
		<br>
			{% if form.errors %}
				{% include "users/partials/errors.html" %}
			{% endif %}
			{% csrf_token %}
			{% for field in form %}
				{% include "users/partials/field.html" %}
			{% endfor %}
			<div class="button-wrapper submit">
				<input type="submit" value="{% trans '重设密码' %}" class="btn btn-info form-control">
			</div>
		</form>
    </div>
</div>
{% else %}
	<p>{% trans "Password reset failed" %}</p>
{% endif %}
{% endblock %}
