{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-register col-md-4 col-md-offset-4">
	<h2>注册</h2>
	<br>
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans '注册' %}" class="form-control btn-info">
		</div>
	</form>
</div>
{% endblock %}
