<div class="card w-100 mb-4">
    <div class="card-body">
        <h6 class="card-title font-weight-bold">标签云</h6>
        <hr>
        {% for tag in tags_cloud %}
        <a href="{% url 'article:tag_articles' tag.slug %}"><span class="badge badge-pill badge-{{tag.cls_msg}} ">{{tag.chinese_name}}</span></a>
        {% endfor %}

    </div>
</div>
<div class="card w-100 mb-4">
    <div class="card-body">
        <h6 class="card-title font-weight-bold">最近文章</h6>
        <hr>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
</div>

<div class="card w-100  mb-4">
    <div class="card-body">
        <h6 class="card-title font-weight-bold">按月份</h6>
        <hr>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
</div>
