{% extends 'article/base.html' %}
{% load staticfiles %}

{% block title %}
全部文章
{% endblock %}

{% block active-3 %}
active
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb" id="bread">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/">主页</a></li>
        <li class="breadcrumb-item active" aria-current="page">标签</li>
    </ol>
</nav>

{% if all_tags %}
<ul class="list-group" id="tags">
    {% for tag in all_tags%}
    <a href="{% url 'article:tag_articles' tag.slug %}"><li class="list-group-item d-flex justify-content-between align-items-center">
        {{tag.chinese_name}}</a>
        <span class="badge badge-info badge-pill">{{tag.articles.count}}</span>
    </li>

    {% endfor%}

</ul>

{% else %}
<p 没有文章</p>
{% endif %}

{% endblock %}
